#exportPattern("^[[:alpha:]]+")
export(createGroupset)
export(cv.ecpc)
export(ecpc)
export(hierarchicalLasso)
export(obtainHierarchy)
export(postSelect)
export(produceFolds)
export(simDat)
export(splitMedian)
export(visualiseGroupset)
export(visualiseGroupsetweights)
export(visualiseGroupweights)
export(createZforGroupset)
export(createZforSplines)
export(createS)
export(createCon)
import("stats")
import("graphics")
importFrom("mvtnorm","dmvnorm","rmvnorm")
importFrom("utils","capture.output")
importFrom("Matrix","sparseMatrix","t","diag","as.matrix")
importFrom("glmnet","glmnet","cv.glmnet","coef.glmnet")
importFrom("multiridge","fastCV2","createXblocks","createXXblocks","CVfolds",
           "optLambdasWrap","SigmaFromBlocks","IWLSridge","IWLSCoxridge","betasout")
importFrom("gglasso","gglasso")
importFrom("survival","Surv")
importFrom("JOPS","bbase")
importFrom("mgcv","gam","bam")
importFrom("pracma","lsqlincon")
importFrom("quadprog","solve.QP")