#exportPattern("^[[:alpha:]]+")
export(createGroupset)
export(cv.ecpc)
export(ecpc)
export(hierarchicalLasso)
export(obtainHierarchy)
export(postSelect)
export(produceFolds)
export(simDat)
export(splitMedian)
export(visualiseGroupset)
export(visualiseGroupsetweights)
export(visualiseGroupweights)
import("stats")
import("graphics")
importFrom("mvtnorm","dmvnorm","rmvnorm")
importFrom("utils","capture.output")
importFrom("Matrix","sparseMatrix","t")
importFrom("glmnet","glmnet","cv.glmnet","coef.glmnet")
importFrom("nnls","nnls")