exportPattern("^[[:alpha:]]+")
import("stats")
import("graphics")
importFrom("mvtnorm","dmvnorm","rmvnorm")
importFrom("Matrix","sparseMatrix","t")
importFrom("glmnet","glmnet","cv.glmnet","coef.glmnet")